		.discover-main-section
		{
			display: flex;
			/*background-color: red;*/
			align-items: stretch;
			justify-content: space-between;
			flex-grow: 1;
		}
		
		.discover-main-section .img-wrapper
		{
			flex-grow: 1;
			flex-direction: column;
			display: flex;
			align-items: flex-start;
			/*justify-content: flex-end;*/
			justify-content: center;
			/*background-color:  red;*/
		}

		.discover-main-section .img-container
		{
			flex-grow: 1;
			max-height: 70vh;
			min-width: 30vw;
			/*background-color: red;*/
			justify-content: center;
			position: relative;
			/*overflow: hidden;*/
			/*pointer-events: none;*/
		}

			.img-container #cover
		{
			position: absolute;
			/*height: 80vh;*/
			height: auto;
			width: 80%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			cursor: pointer;
			pointer-events: all;
			z-index: 1;

		}
		
			.img-container #cd
		{
			position: absolute;
			height: auto;
			width: 80%;
			left: 50%;
			top: 50%;
			transform: translate(-40%,-50%);
			z-index: -1;
			animation: hover 5s ease-in-out infinite alternate;

		}

/*    .img-container:hover > #cd
	{
		margin-left: 35px;
	
		animation:spin 1s ease-in-out infinite;
		
		animation-delay: 0.2s;
	}*/

 .rotation
 {
 		margin-left: 35px;
	
		animation:spin 1s ease-in-out infinite !important;
		
		animation-delay: 0.2s;
 }
	@keyframes spin{
		0%
		{
			transform: translate(-40%,-50%) rotate(0deg);
			/*transform: translateX(35px) ;*/
		}
		100%
		{
			transform:  translate(-40%,-50%) rotate(360deg);
			/*transform: translateX(35px);*/
		}
	}

	.icon-section
	{
		display: flex;
	}
	.icon
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: .5rem;
		padding: .75rem;
		width: 100px;
		height: 100px;
		background-color: #3D3D47;

	}
	.icon-section
	{
		margin-bottom: 15px;
	}
	.icon img
	{
		width: 40px;
	}

	.call-to-action
	{
		align-self: center;	
	}

		@media (max-width: 900px)
		{
			.discover-main-section 
			{
				flex-direction: column;
				justify-content: center;
			}

			.discover-main-section .img-wrapper
			{
		
				align-items: center;
				height: 200px;
			
			}
			.discover-main-section .img-container
			{
				
				max-height: 70vh;
				min-width: 50vw;

			}
			.discover-main-section .call-to-action 
			{
				text-align: center;
			}
			.discover-main-section .call-to-action .icon-section 
			{
				justify-content: center;
			}
	

		}


		.discover-page-circle-1
		{
			position: absolute;
			width: 20vw;
			height: 20vw;
			border-radius: 50%;
			background:rgba(89, 53, 151, 0.2);
			z-index: -1;
			bottom:5vw;
			right: 5vw;
			animation: shrink 2s ease-in-out infinite alternate;
			animation-delay: .5s;

		}

		.discover-page-circle-2
		{
			position: absolute;
			width: 10vw;
			height: 10vw;
			border-radius: 50%;
			background: rgba(235, 97, 230, 0.1);
			z-index: -1;
			top:5vw;
			right: 45vw;
			animation: shrink 2s ease-in-out infinite alternate;

		}


		.discover-page-circle-3
		{
			position: absolute;
			width: 30vw;
			height: 30vw;
			overflow: hidden;
			z-index: -1;
			bottom: 0;
			left: 0;


		}
		.discover-page-circle-3::before
		{
			content: "";
			transform: translate(-30%,60%);
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background: rgba(235, 97, 230, 0.1);
			animation: H-shrink 2s ease-in-out infinite alternate;
			animation-delay: .5s;

		}
		.discover-page-circle-4
		{
			position: absolute;
			width: 10vw;
			height: 10vw;
			overflow: hidden;
			z-index: -1;
			bottom: 65%;
			left: 0;

		}
		.discover-page-circle-4::before
		{
			content: "";
			transform: translateX(-50%);
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background: rgba(235, 97, 230, 0.1);

		}
			@keyframes shrink{
			0%
			{
				transform: scale(0.9);
			}
			100%
			{
				transform: scale(1);
			}
		}


				@keyframes H-shrink{
			0%
			{
				transform: translate(-30%,60%) scale(0.9);
			}
			100%
			{
				transform: translate(-30%,60%) scale(1);
			}
		}
